<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Holler</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all_restaurants.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap"
      rel="stylesheet"
    />
  </head>

<body>
  <div>
    <nav>
      <div>
        <h1>Holler</h1>
        <h2>witty tag line</h2>
        <a href="/users/logout">Log Out</a>
      </div>
    </nav>
    <hr>
    <h3>Welcome {{user.first_name}}!</h3>
    <h2>Restaurants Near You:</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Cuisine</th>
          <th>Average Rating</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for one_restaurant in all_restaurants %}
        <tr>
          <td>{{one_restaurant.name}}</td>
          <td>{{one_restaurant.cuisine}}</td>
          <td>{{one_restaurant.AvgRating}} out of 5 stars</td>
          <td><a href="/restaurants/{{one_restaurant.id}}">Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
