<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Review of {{ rating.restaurants.name }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/edit_rating.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap"
      rel="stylesheet"
    />
  </head>

<body>
  <div>
    <!-- NAV BAR START -->
    <h1>Holler</h1>
    <p>Where Your Voice Dines Out</p>
  </div>
  <div>
    <a href="/restaurants/all">Home</a>
    <form role="logout" action="/users/logout">
      <button type="submit">Log Out</button>
    </form>
  </div>
  <!-- NAV BAR  -->
  <!-- BODY OF WEBPAGE START -->
  <div>
    <h2>{{rating.users.first_name}}, Edit Your Review of {{ rating.restaurants.name }}</h2>
    <!-- ALERT MESSAGE START  -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- ALERT MESSAGE END  -->
    <div>
      <form action="/ratings/update" method="post">
        <input type="hidden" name="rating_id" value="{{ rating.id }}">
        <input type="hidden" name="restaurant_id" value="{{ rating.restaurants.restaurant_id }}">
        <div>
          <textarea class="form-control" rows="10" name="comment" id="comment">{{ session.comment if "comment" in session else rating.comment }}</textarea>
        </div>
        <select name="rating" required>
          <option selected="" hidden="" disabled="" value="">Current Rating: {{rating.rating}}</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div>
          <button type="submit">Update</button>
        </div>
        <a href="/ratings/{{rating_id}}/delete" class="btn btn-danger align-middle me-3">Delete</a>
      </form>
    </div>
  </div>
  <!-- BODY OF WEBPAGE END  -->
</body>

</html>
