<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit {{ show.title }}</title>
  </head>
  <body>
    <div>
      <div>
        <h2>Welcome, {{user.first_name}}</h2>
        <form role="logout" action="/users/logout">
          <a href="/shows/all"
            >Back To Shows</a
          >
          <button type="submit">Log Out</button>
        </form>
      </div>
    </div>
    <div>
      <form action="/shows/update" method="post">
        <div >
          <div >
            <h3>Edit {{show.title}}</h3>
          </div>
          <div>
          {% with messages = get_flashed_messages()%} 
              {% if messages %} 
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %} 
              {% endif %} 
            {% endwith %}
            <div>
              <input type="text" placeholder="Title Of Show" id="floatingTextarea" name="title" value="{{show.title}}"></textarea>
              <label for="floatingTextarea">Title</label>
            </div>
            <div>
              <input type="text" placeholder="Network Of Show" id="floatingTextarea" name="network" value="{{show.network}}"></textarea>
              <label for="floatingTextarea">Network</label>
            </div>
            <label for="release_date">Release Date:</label>
            <input type="date" name="release_date" value="{{show.release_date}}" />
            <div>
              <input type="text" placeholder="Comments" id="floatingTextarea" name="comments" value="{{ session.comments if 'comments' in session else show.comments}}"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="show_id" value="{{show.id}}">
              </div>
            </div>
            <input type="submit" value="Edit Show!">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
