<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommend Show</title>
  </head>
  <body>
    <div>
      <div>
        <h2>Recommend A New Show, {{user.first_name}}!</h2>
        <form role="logout" action="/users/logout">
          <a href="/shows/all"
            >Back To All Shows</a
          >
          <button type="submit">Log Out</button>
        </form>
      </div>
    </div>
    <div>
      <form action="/shows/create" method="post">
        <div>
          <div>
            <h3>Create Your Show</h3>
          </div>
          <div>
          {% with messages = get_flashed_messages()%} 
              {% if messages %} 
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %} 
              {% endif %} 
            {% endwith %}
            <div>
              <input type="text" placeholder="Title Of Show" id="floatingTextarea" name="title"></textarea>
              <label for="floatingTextarea">Title</label>
            </div>
            <div>
              <textarea placeholder="Network Here" id="floatingTextarea" name="network"></textarea>
              <label for="floatingTextarea">Network</label>
            </div>
            <label for="release_date">Release Date:</label>
            <input type="date" name="release_date" />
            <div>
              <textarea placeholder="Comments Here" id="floatingTextarea" name="comments">{{ session.comments if "comments" in session else '' }}</textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
                <input type="hidden" name="user_id" value="{{user.id}}">
              </div>
            </div>
            <input type="submit" value="Create Show!">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
