<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ restaurant.title }}</title>
  </head>
  <body>
    <!-- WEBPAGE START -->
    <div>
      <!-- HEADER START -->
      <div>
        <div>
          <h1>Holler</h1>
          <p>witty tag line</p>
        </div>
        <div>
          <button>Dashboard</button>
          <button>Logout</button>
        </div>
      </div>
      <!-- HEADER END -->
      <!-- BODY START -->
      <div>
        <!-- Left Column Start -->
        <div>
          <!-- Rating Card Start -->
          <div>
            <div>
              <p>Average Rating: {{ average_rating }}</p>
            </div>
            <div>
              <p>Cuisine Type: {{ restaurant.cuisine }}</p>
            </div>
          </div>
          <!-- Rating Card End -->
          <!-- Contact Card Start -->
          <div>
            <div>
              <p>{{ restaurant.street }}</p>
            </div>
            <div>
              <p>{{ restaurant.city }}, {{ restaurant.state }}</p>
            </div>
            <div>
              <p>{{ restaurant.zip_code }}</p>
            </div>
            <div>
              <p>{{ restaurant.phone_number }}</p>
            </div>
          </div>
          <!-- Contact Card End -->
        </div>
        <!-- Left Column End -->
        <!-- Right Column Start -->
        <div>
        <!-- Review Card Start -->
        <div>
          <div>
            <h3>User Reviews:</h3>
          </div>
          {% if restaurant_ratings %}
            {% for rating in restaurant_ratings %}
              <div>
                <p>{{ rating.users.first_name }}, {{ rating.created_at }}</p>
                <p>{{ rating.comment }}</p>
              </div>
              <div>
                <button>Edit/Delete</button>
              </div>
            {% endfor %}
          {% else %}
            <div>
              <p>No user review yet.</p>
            </div>
          {% endif %}
        </div>
        <!-- Review Card End -->


        </div>
        <!-- Right Column End -->
        <!-- Footer Start -->
        <div>
          <!-- Leave Review Card Start -->
          <div>
            <form method="post" action="/rating/create">
              <textarea name="review_content" placeholder="Write your review here..." required></textarea>
              <button type="submit">Submit Review</button>
            </form>
          </div>
          <!-- Leave Review Card End -->
        </div>
        <!-- Footer End -->
      </div>
      <!-- BODY END -->
    </div>
    <!-- WEBPAGE END -->
  </body>
</html>
